/* https://codepen.io/zenorocha/pen/LLBVmo */

.spinner {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.spinner:after {
    animation: changeContent .8s linear infinite;
    display: block;
    content: "⠋";
    font-size: 100px;
}

@keyframes changeContent {
    10% {
        content: "⠙";
        color: #5a9ab6;
    }
    20% {
        content: "⠹";
        color: #8e9e37;
    }
    30% {
        content: "⠸";
        color: #907852;
    }
    40% {
        content: "⠼";
        color: #78b9b6;
    }
    50% {
        content: "⠴";
        color: #9b1e1d;
    }
    60% {
        content: "⠦";
        color: #becc3f;
    }
    70% {
        content: "⠧";
        color: #bf2e1b;
    }
    80% {
        content: "⠇";
        color: #deba93;
    }
    90% {
        content: "⠏";
        color: #c23d59;
    }
}