/* tipografias */

@font-face {
  font-family: "CLR";
  src: url("../fonts/Champagne_Limousines.ttf");
}

@font-face {
  font-family: "CLB";
  src: url("../fonts/Champagne_Limousines_Bold.ttf");
}

* {
  font-family: "CLR";
}

.activeMenu {
  font-family: 'CLB';
  opacity: 1;
}

.sizeFont {
  font-size: 1.5rem;
}

.texto {
  font-size: 1.5rem;
  text-align: justify;
  letter-spacing: 0.1rem;
}


/* etiquetas */

body {
  margin: 111px 0 100px 0;
}

footer {
  color: white;
  text-align: center;
  padding: .5rem 0;
  position: fixed;
  bottom: 0;
  right: 0;
}

/* menu */

nav {
  color: white;
  padding: .5rem 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 1rem 0;
}

nav ul {
  list-style-type: none;
  clear: both;
}

nav li {
  clear: both;
  text-align: center;
}

nav .menu li {
  display: inline-block;
  padding: 0 10px;
}

nav .desplegable li {
  display: block;
  padding: 1rem;
}

nav li a {
  font-size: larger;
  text-decoration: none;
  color: white;
  opacity: 0.5;
}

nav li a:hover {
  opacity: 1;
}

nav li a:active {
  opacity: 1;
  font-family: 'CLB';
}

nav button {
  height: 60px;
  width: 100px;
  border-radius: 10px;
  border-bottom: none;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

nav button:hover {
  opacity: 1;
}

nav i {
  font-size: 40px;
  color: white;
}

.menu {
  display: block;
  text-align: center;
  color: white;
}

.menus {
  display: block;
  text-align: right;
}

div.container {
  display: flex;
  justify-content: space-between;
  align-items: center
}

/* colores */

.black {
  background-color: #3e3d3d !important;
}

.c10 {
  color: #3e3d3d !important;
}

.c1 {
  color: #8e9e37 !important;
}

.c2 {
  color: #c23d59 !important;
}

.c3 {
  color: #5a9ab6 !important;
}

.c4 {
  color: #bf2e1b !important;
}

.c5 {
  color: #becc3f !important;
}

.c6 {
  color: #78b9b6 !important;
  ;
}

.c7 {
  color: #907852 !important;
}

.c8 {
  color: #9b1e1d !important;
}

.c9 {
  color: #deba93 !important;
}


/* color fondo */

.cf1 {
  background: #8e9e37
}

.cf2 {
  background: #c23d59;
}

.cf3 {
  background: #5a9ab6;
}

.cf4 {
  background: #bf2e1b;
}

.cf5 {
  background: #becc3f;
}

.cf6 {
  background: #78b9b6;
  ;
}

.cf7 {
  background: #907852;
}

.cf8 {
  background: #9b1e1d;
}

.cf9 {
  background: #deba93;
}


/* tamaños */

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
  margin: auto;
}

.container {
  width: 80%;
  padding: 0 .75rem;
  margin: auto;
}

/* posiciones */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* media query */

@media (min-width: 1200px) {
  #menuMovil {
    display: none;
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
  #menu {
    display: none;
  }
}

/* cabecera */

.cabecera {
  color: white;
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  margin-bottom: 2rem;
  letter-spacing: 0.5rem;
}

/* tablas */

tr.c3>th {
  border-bottom: 2px solid #5a9ab6;
}

tr.c2>th {
  border-bottom: 2px solid #c23d59;
}

tr.c4>th {
  border-bottom: 2px solid #bf2e1b;
}

tr.c9>th {
  border-bottom: 2px solid #deba93;
}

td {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

td,
th {
  padding: 0.3rem 0;
  padding-right: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  font-size: larger;
}

/* alineación texto */

.rigth {
  text-align: right;
}

/* footer */

footer .container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: white;
  font-size: x-large;
}


/* titulos */

h2.c6 {
  margin-top: 3rem;
  font-size: 2rem;
}
h3 {
  margin: 0%;
}

span{
  font-family: 'CLB';
}

/* button */
button:hover {
  opacity: 0.6;
}